body{
    background: orange;
}

.logo{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.btn{
    padding: 0 5px;
}

.title{
    color: red;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.not-devoured-card{
    width: 80%;
    display: inline-block;
    margin-right: 15px;
}

/* .devoured{
    padding: 5px;
} */

ul{
    padding: 0;
    list-style: none;
}

li{
    margin-bottom: 15px;
    position: relative;
}

li button{
    position: relative;
    top: 15px;
}

.card-header{
    background: #dae0e5;
    color: gray;
}

#burger_name{
    height: 75px;
    width: 400px;
    margin-bottom: 10px;
}

#submitBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 14px;
}
